<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
  
    <div class="wrapper">
      <div class="footer-col-wrapper">  
        <div class="footer-col footer-col-3">
            <p><strong>{{ site.business_name }}</strong></p>
            <p>{{ site.description }}</p>
            <p><strong>Address:</strong> {{ site.business_address }}</p>
            <p><strong>CNPJ:</strong> {{ site.business_cnpj }}</p>
            <p><strong>Phone:</strong> <a href="https://wa.me/{{ site.business_phone }}">{{ site.business_phone }}</a></p>
            <p><strong>Email:</strong> <a href="mailto:{{ site.business_email }}">{{ site.business_email }}</a></p>
        </div>
      </div>
    </div>
  </footer>